<h2><a href="/new">Create a New Pokemon!</a></h2>
<form action=/ method="post">
  <input name="name" type="text" value="Name">
  <input name="cp" type="text" value="CP">
  <input name="poke_type" type="text" value="Pokemon Type">
  <input name="img_url" type="text" value="Image URL">
  <input type="submit" value="Submit">
</form>
